.heat-index-calculator-container
  justify-content: center
  margin: auto
  display: grid

.history-card
  justify-content: center
  margin: auto
  display: grid

.form-style
  display: flex
  flex-direction: column
  gap: 20px

.heat-index-result
  font-size: 20px
  text-align: center
  font-weight: bold

.warning-message-container
  margin-top: 20px
  text-align: center

.warning-message
  color: red
