.spacer
  flex: 1 1 auto

.content
  margin: 20px

.desktop-menu
  display: none
  @media (min-width: 768px)
    display: flex
    gap: 20px

.mobile-menu
  @media (min-width: 768px)
    display: none
