<div class="app-header">
  <h1 class="app-title">London Weather ☀️🌧️</h1>
  <div class="tabs-container">
    <mat-tab-group class="desktop-tabs">
      <mat-tab label="Weather Table">
        <app-weather-table (pastDaysChanged)="updatePastDays($event)"></app-weather-table>
      </mat-tab>
      <mat-tab label="Temperature Chart">
        <app-temperature-chart [pastDays]="selectedPastDays"></app-temperature-chart>
      </mat-tab>
      <mat-tab label="Heat Index Calculator">
        <app-heat-index-calculator></app-heat-index-calculator>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
<router-outlet></router-outlet>
