.app-header
  text-align: center

.app-title
  font-size: 60px
  margin: 20px 0

.app-container
  display: flex
  flex-direction: column
  align-items: center
  padding: 20px

h1
  color: #1976d2
  margin-bottom: 20px
