<div class="heat-index-calculator-container">
  <mat-card class="heat-index-card">
    <mat-card-header>
      <mat-card-title class="mat-headline"
        >Heat Index Calculator</mat-card-title
      >
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="calculateHeatIndex()" class="form-style">
        <mat-form-field appearance="fill">
          <mat-label>Temperature</mat-label>
          <input
            matInput
            type="number"
            [(ngModel)]="temperature"
            name="temperature"
            required
          />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Temperature Unit</mat-label>
          <mat-select [(ngModel)]="temperatureUnit" name="temperatureUnit">
            <mat-option value="C">°C</mat-option>
            <mat-option value="F">°F</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Relative Humidity (%)</mat-label>
          <input
            matInput
            type="number"
            [(ngModel)]="humidity"
            name="humidity"
            required
          />
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">
          Calculate
        </button>
      </form>
    </mat-card-content>
    <mat-card-actions *ngIf="heatIndex !== null">
      <p class="heat-index-result">
        Heat Index: {{ heatIndex | number : "1.0-1" }} {{ temperatureUnit }}
      </p>
    </mat-card-actions>
  </mat-card>
</div>
